
<div class="row">
  <ul class="nav nav-tabs">
    <li role="presentation" <%= 'class=active' if active == "index" %>><a href="<%= url_for dashboard_index_path %>"><i class="fa fa-eye"></i> Aperçu</a></li>
    <li role="presentation" <%= 'class=active' if active == "candidates" %>><a href="<%= url_for dashboard_candidates_path %>"><i class="fa fa-users"></i> Candidats</a></li>
<!--     <li role="presentation" <%= 'class=active' if active == "proofs" %>><a href="<%= url_for dashboard_proofs_path %>"><i class="fa fa-file-text"></i> Justificatifs</a></li> -->
    <li role="presentation" <%= 'class=active' if active == "share" %>><a href="<%= url_for dashboard_share_path %>"><i class="fa fa-share-alt"></i> Partages</a></li>

    <!-- <i class="fa fa-folder-open"></i> -->
  </ul>
</div>
