<div class="dash-home">
<!--   <div> -->
    <div class="container padded">

        <div class="row">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="row text-center padded">
              <% @candidates.each do |candidate| %>
              <div class="card">
                <div class="card-picture">
                <%if candidate.picture_file_size.nil?%>
                  <%= image_tag "default-user.png", class: "img-circle"%>
                <%else%>
                  <p><%= image_tag candidate.picture.url(:medium), class: "img-circle" %>
                <%end%>
                </div>
                <div class="card-candidate card-content">
                  <h4><%= candidate.firstname %> <%= candidate.lastname %></h4>
                  <h5><%= candidate.companie %></h5>
                  <p> <%= candidate.position %> </p>
                </div>
                <div class="card-controls">
                  <%= link_to "edit", edit_candidate_path(candidate), class: "navbar-wagon-button btn" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
