<div class="dash-home">
  <div class="container padded">

    <%= render 'tab', active: "candidates" %>

    <div class="row text-center padded">
      <div class="col-xs-12 ">
      <%= link_to "télécharger PDF", "#", class: "navbar-wagon-button btn" %>
      <%= link_to "partager email", "#", class: "navbar-wagon-button btn" %>
      </div>
    </div>

    <div class="row">

      <% @candidates.each do |candidate| %>
        <p><%= candidate.firstname %> <%= candidate.lastname %></p>
      <% end %>

    </div>

  </div>
</div>
