<div class="dash-home">
<!--   <div> -->
    <div class="container padded">
      <%= render 'tab', active: "candidates" %>

      <div class="row text-center padded">
        <% @candidates.each do |candidate| %>
        <%if candidate.picture_file_size.nil?%>
          <p><%= candidate.firstname %> <%= candidate.lastname %> <%= link_to "edit", edit_candidate_path(candidate), class: "navbar-wagon-button btn" %></p>
        <%else%>
          <p><%= image_tag candidate.picture.url(:medium), class: "img-circle" %> <%= link_to "edit", edit_candidate_path(candidate), class: "navbar-wagon-button btn" %></p>
        <%end%>

        <% end %>
      </div>
    </div>
<!--   </div> -->
</div>
