<div class="dash-home">
  <div class="container padded">

    <%= render 'tab', active: "index" %>

    <div class="row text-center padded">
      <div class="col-xs-12 ">
        <% if current_user.candidates.first.picture_file_size.nil?%>
      <%= link_to '<i class="fa fa-file-text"></i> Dossier'.html_safe, edit_candidate_path(@candidates.first), class: "navbar-wagon-button btn pulse" %>
        <% else %>
      <%= link_to '<i class="fa fa-file-text"></i> Dossier'.html_safe, "#", class: "navbar-wagon-button btn" %>
        <% end %>
      <%= link_to '<i class="fa fa-cloud-download"></i> PDF'.html_safe, "#", class: "navbar-wagon-button btn" %>
      <%= link_to '<i class="fa fa-share-alt"></i> Share!'.html_safe, "#", class: "navbar-wagon-button btn" %>
      </div>
    </div>

    <div class="row">

      <div class="document container">
      <div>
        <%= image_tag "logo_new_name.png", class: "dossier_logo" %>
      </div>
      <div class="dossier_candidates">
        <% x = @candidates.size %>
        <% @candidates.each do |candidate| %>
          <% now = Time.now.utc.to_date %>
          <% bd = now.year - candidate.birthdate.year - (candidate.birthdate.to_date.change(:year => now.year) > now ? 1 : 0) %>
          <h4><i class="fa fa-user"></i> <%= "#{candidate.firstname} #{candidate.lastname}" %> - <%= bd %> ans</h4>
          <p><i class="fa fa-envelope-o"></i> <%= current_user.email %></p>
          <p><i class="fa fa-phone"></i> <%= candidate.phone_number %></p>

          <% @bio_name = "#{candidate.firstname} #{candidate.lastname}" %>
        <% end %>
      </div>
      <ul class="list-inline biopic">
        <% if current_user.candidates.first.picture_file_size.nil?%>
          <li><%= image_tag "default-user.png", class: "img-circle tossing"%></li>
          <% if @candidates.count > 1 %>
            <li><%= image_tag "default-user.png", class: "img-circle tossing"%></li>
          <% end %>
        <% else %>
          <li><%= image_tag current_user.candidates.first.picture.url(:medium), class: "img-circle"%></li>
          <% if @candidates.count > 1 && current_user.candidates.last.picture_file_size != nil %>
            <li><%= image_tag current_user.candidates.last.picture.url(:medium), class: "img-circle"%></li>
          <% end %>
        <% end %>
      </ul>
      <div class="separator">
        <h4>Biography</h4>
      </div>
      <div><p class="dossier_bio"> <%= current_user.candidates.first.biographie %> </p></div>
      <div>
        <h4 class="revenue"> <%= "Total Revenue :"%>
        <% if @candidates.count > 1%>
          <%= @revenue_total = @candidates.first.income + @candidates.last.income  %> ( environ <%= @revenue_total * 12%>€ par an )
        <% else %>
          <%= @revenue_total = @candidates.first.income %> ( environ <%= @revenue_total * 12%>€ par an )
        <%end%>
        </h4>

      </div>
      <div class="separator">
        <h4>Employement and Income</h4>
      </div>
       <div>
        <h4> <%= @candidates.first.companie %></h4>
        <h6><%= @candidates.first.status%></h6>
        <h6><%= @candidates.first.position %></h6>
        <h6><%= @candidates.first.status_from_date %></h6>
      </div>
      <div>
        <h4 class="revenue">Past Rentals</h4>
      </div>
      <div class="separator">
        <h4>References</h4>
      </div>
    </div>

    </div>

  </div>
</div>
