
<div class="container padded">
  <div class="row">
    <h3>Candidates</h3>
    <!-- <h3>Candidates <%= link_to "ADD", new_candidate_path, class: "btn"%></h3> -->
    <% @candidates.each do |candidate| %>
    <h5><%= candidate.firstname %> <%= candidate.lastname %></h5>
    <%end%>
    <h3>Proofs</h3>
    <h3>Dossiers</h3>

 <div class="document" class="container">
    <div class="row">
      <% x = @candidates.size %>
      <% @candidates.each do |candidate| %>
      <div class="col-xs-12 col-md-6 text-center">
        <h4><%= "#{candidate.firstname} #{candidate.lastname}" %></h4>
        <p><%= "#{candidate.user.email}" %></p>
        <% now = Time.now.utc.to_date %>
        <% bd = now.year - candidate.birthdate.year - (candidate.birthdate.to_date.change(:year => now.year) > now ? 1 : 0) %>
        <h5><%= bd %> ans</h5>
        <p>Louer Maximum: <%= "#{candidate.dossier_max_rent}" %></p>
      </div>
      <% end %>
    </div>
    <div class="row text-center">
      <h4> <%= "Revenu global : #{@candidates.first.income}€" %></h4>
    </div>
  </div>
