<div class="dash-home">
  <div class="container padded">

    <%= render 'tab', active: "share" %>

    <div class="row text-center padded">
      <div class="col-xs-12 ">
        <%= link_to '<i class="fa fa-share-alt"></i> Ajouter un partage'.html_safe,  new_user_guest_path(current_user), class: "navbar-wagon-button btn" %>
      </div>
    </div>


    <div class="row">

      <div class="panel panel-default">
        <div class="panel-heading">Liste des partages</div>
        <div class="panel-body">
          <p>Voici les partages de votre dossier de location. Il est recommandé de créer un nouveau partage à chaque fois que vous devez transmettre votre dossier à un propriétaire.</p>
        </div>
        <table class="table">
          <tr>
            <th>Token</th>
            <th>Email</th>
            <th>Start</th>
            <th>Expires</th>
            <th>Status</th>
            <th>Viewed</th>
            <th>Actions</th>
          </tr>

          <% current_user.guests.each do |guest| %>

            <% if guest.canceled == true %>
              <% status = "canceled" %>
            <% else %>
              <% status = guest.expires < Date.today ? "expiré" : "actif" %>
            <% end %>

            <tr>
              <td><%= "#{guest.token[0,15]}***..." %></td>
              <td><%= guest.email != "" ? guest.email : "-" %></td>
              <td><%= guest.start %></td>
              <td><%= guest.expires %></td>
              <td><%= status %></td>
              <td><%= guest.viewed_t.nil? ? "no" : "#{guest.viewed_t} times" %></td>
              <td><% if status == "actif" %><button onclick="copyToClipboard('<%= guest.token %>')" class="btn btn-primary btn-xs">Copier url</button><% end %> <%= link_to "stop sharing", user_guest_path(current_user, guest), method: "patch", class: "btn btn-danger btn-xs" if status == "actif" %> <%= "-" if status != "actif" %> </td>
            </tr>
          <% end %>

        </table>
      </div>

    </div>

  </div>
</div>
  <script>

  </script>
