<div class="dash-home">
  <div class="container padded">
    <div class="row text-center">
      <div class="col-xs-12">
        <%= link_to '<i class="fa fa-share-alt"></i> Ajouter un partage'.html_safe,  new_user_guest_path(current_user), class: "navbar-wagon-button btn btn_pad" %>
      </div>
    </div>
    <div class="row">
      <% current_user.guests.each do |guest| %>
        <% if guest.canceled == true %>
          <% status = "canceled" %>
        <% else %>
          <% status = guest.expires < Date.today ? "expiré" : "actif" %>
        <% end %>
        <div class="col-xs-12 col-sm-6">
          <div class="card-partage filter">
            <div class="card-content">
              <h4><%= guest.description %> <%= link_to "Voir", guest.url, class: "btn btn-default btn-xs", target: "_blank" unless guest.url.nil? %></h4>
              <% if guest.email != "" %>
                <p class="card-sent-to"><i class='fa fa-envelope-o'></i> envoyé à <span><%= guest.email%></span></p>
              <% end %>
              <h5> Expire le: <%= guest.expires %> </h5>
              <% if status == "actif" %>
                <h5> Actif ? <%= link_to '<i class="fa fa-thumbs-o-up"></i>'.html_safe, user_guest_path(current_user, guest), method: "patch", class: "btn btn-success btn-xs", title: "partagé depuis #{guest.start}, expirera le #{guest.expires}, cliquer pour désactiver" %> </h5>
              <% else %>
                <% if status == "canceled" && guest.expires > Date.today %>
                  <h5> Actif ? <%= link_to '<i class="fa fa-thumbs-o-down"></i>'.html_safe, user_guest_path(current_user, guest), method: "patch", class: "btn btn-danger btn-xs", title: "partage désactivé à votre demande, expirera le #{guest.expires}, cliquer pour réactiver" %> </h5>
                <% else %> <%# expiré %>
                  <%= link_to status, "#", class: "btn btn-default btn-xs", title: "expiré le #{guest.expires}" %>
                <% end %>
              <% end %>
            </div>
            <div class="card-views">
              <p> Vu  : <%= guest.viewed_t.nil? ? "-" : "#{guest.viewed_t} fois" %> </p>
            </div>
            <div class="card-controls">
              <% if status == "actif" %>
                <button class='btn btn-primary btn-xs my_clip_button' data-clipboard-target='fe_text' data-clipboard-text='<%= root_url + guest_path(guest.token) %>' id='d_clip_button' title='Cliquer pour copier dans le presse-papier'>
                  <i class="fa fa-paperclip"></i> Copier l'url
                </button>
              <% end %>
              <button class='btn btn-danger btn-xs my_clip_button' data-clipboard-text='<%# user_guest_path(current_user.id, guest.id), method: :delete %>' title='Cliquer pour supprimer le partage'>
                <i class="fa fa-trash-o"></i></button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


