<div class="third">

   <div class="dash-home">
    <div class="container padded">
      <div class="row">
        <%= render "dashboard/dossier", display: "step4" %>
      </div>
    </div>
  </div>


<!-- commented modal -->
  <!-- Sign-up Modal -->
  <div data-backdrop="static" class="modal show" id="signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color:rgba(255, 255, 255, 0.85);">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
          <!--  <span aria-hidden="true">&times;</span> -->
          <!-- </button> -->
          <div class="row">
            <div class="col-xs-12">
              <h4 class="modal-title text-center" id="myModalLabel">Prêt à trouver un appartement ?</h4>
            </div>
            <div class="col-xs-12 hidden-xs hidden-sm text-center">
              <%= image_tag "rocket.png", class: "landing_img", style:"width:300px;" %>
            </div>
            <div class="col-xs-12 text-center">
              <p>Votre dossier est prêt! Pour le télécharger, le partager et y accéder plus tard, veuillez enregistrer votre compte Edoss!</p>
            </div>
          </div>
        </div>
        <div class="modal-body text-justify">
          <%# render "devise/registrations/new" %>
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <div><%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control input-lg" %>
          </div>
          <div><%= f.label :password %><br />
            <%= f.password_field :password, label: "Mot de passe", class: "form-control input-lg" %>
          </div>
          <div><%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, label: "Confirmez le mot de passe", class: "form-control input-lg" %>
          </div>
          <br>
          <div class="text-center">
            <%= f.submit "Créer mon compte Edoss", class: "btn btn-danger" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<!-- test -->
</div>
