 <% arrondissement = (@user_candidate.dossier_zip == "75001") ? "#{@user_candidate.dossier_zip[-2,2]}er" : "#{@user_candidate.dossier_zip[-2,2]}è" %>

 <div class="third">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h3 class="text-center text-justify">Dans le <%= arrondissement %> arrondissement avec un budget de <strong><%= @user_candidate.dossier_max_rent %>€</strong>, vous pourrez trouver un appartement d'environ <strong><%= @max_surface %> m2</strong> !<br><br><i class="fa fa-info-circle"></i> Paris est en <strong>zone tendue</strong>. Depuis le 6 août 2015 et la loi Macron, tous les logements en location dans les zones tendues bénéficient d'un préavis de départ <strong>diminué à 1 mois</strong> !</h3><br>
        <div type="submit" name="commit" class="btn custom-btn">
          <%= link_to "Continuer ..", step_path('2-1') %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="land">
          <%= image_tag "surface.png", style: "width:400px;" %>
        </div>
      </div>
    </div>
  </div>
</div>
