<div class="dash-home">

  <div class="container padded">
    <%= render 'dashboard/tab', active: "candidates" %>


    <div class="page_content">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <h3>Modifier le profil: <strong><%= @candidate.firstname.downcase.capitalize %> <%= @candidate.lastname.upcase %></strong></h3>
            <%= simple_form_for @candidate do |f| %>
              <h4>Identité</h4>
              <%= f.label :picture %>
              <%= f.file_field :picture %>
              <%= f.input :firstname, label: "Prénom" %>
              <%= f.input :lastname, label: "Nom" %>
              <%= f.input :birthdate, label: "Date de naissance" %>
              <h4>Situation</h4>
              <%= f.input :income, label: "Revenu mensuel net" %>
              <%= f.input :status, :collection => ['Contrat à durée indéterminée', 'Autre situation de travail (CDD, intérim, TNS)', 'Étudiant', 'Sans emploi'] %>
              <%= f.input :companie, label: "Société" %>
              <%= f.input :position, label: "Poste" %>
              <%= f.input :status_from_date, label: "Depuis le" %>
               <h4>Contact</h4>
              <%= f.input :phone_number %>
              <%= f.button :submit, 'Mettre à jour le profil', class: "btn custom-btn" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
t.string   "nationality"
    t.string   "firstname"
    t.string   "lastname"
    t.integer  "income"
    t.string   "status"
    t.date     "status_from_date"
    t.integer  "user_id"
    t.datetime "created_at",             null: false
    t.datetime "updated_at",             null: false
    t.string   "dossier_zip"
    t.integer  "dossier_people"
    t.integer  "dossier_max_rent"
    t.string   "performed_step"
    t.boolean  "cautioner"
    t.date     "birthdate"
    t.string   "cautioner_relationship"
    t.boolean  "couple"
    t.boolean  "trial_period"
 -->
