<div class="step text-center">

  <div class="row text-center hidden-xs" id="step-intro">
    <div class="col-xs-12">
      <p><%= @step['intro'] %></p>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-2 hidden-xs" id="step-img">
        <%= image_tag "meditating.png"%>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-r-2">

      <div id="step-form">
      <%= form_tag( steps_next_path , method: "post") do %>

        <% @step['questions'].each do |q| %>

          <% q_symbol = q[1]['name'].to_sym %>

            <h3><%= q[1]['text'] %></h3>

            <h6><%= label_tag(q_symbol, q[1]['label']) %></h6>

            <!-- INTEGER field -->

            <% if q[1]['format'] == "text" %>
              <%= text_field_tag(q_symbol, q[1]['default'], class:'form-control round-form text-center') %>

            <!-- TEXT field -->
            <% elsif q[1]['format'] == "integer" %>

              <%= number_field_tag(q_symbol, q[1]['default'], class:'form-control round-form text-center') %>

            <!-- DATE field -->
            <% elsif q[1]['format'] == "date" %>
              <%= date_field_tag(q_symbol, class:'form-control round-form text-center') %>

            <!-- EMAIL field -->
            <% elsif q[1]['format'] == "email" %>
              <%= email_field_tag(q_symbol, class:'form-control round-form text-center') %>

            <!-- PASSWORD field -->
            <% elsif q[1]['format'] == "password" %>
              <%= password_field_tag(q_symbol, class:'form-control round-form text-center') %>

            <!-- CHECKBOX field -->
            <% elsif q[1]['format'] == "checkbox" %>
              <%= check_box_tag(q_symbol) %>


            <!-- SELECT field -->
            <!-- TODO -->

            <% end %>

        <% end %>

        <% if @candidate %>
          <%= hidden_field_tag("candidate[id]", @candidate.id) %>
        <% end %>
         <% if @step['persist'] %>
          <%= hidden_field_tag("persist", true) %>
        <% end %>
        <%= hidden_field_tag(:next, @step['next']) %>

        <%= submit_tag(@step['validate'], class: "btn btn-primary custom-btn") %>

      <% end %>
      </div>

    </div>
  </div>

  <% if @step['info'] != "" %>
    <div class="row text-justify" id="step-info">
      <div class="col-sm-2 col-sm-offset-2 col-md-1 col-md-offset-3 hidden-xs">
        <%= image_tag "info.png"%>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5">
        <h5><%= @step['info'] %></h5>
      </div>
    </div>
  <% end %>

</div>






<!--

step1.1:
  intro: "Tell us what you’re looking for and we’ll elaborate your Dossier with you."
  question:
    0:
      text: "Where do you want to live ?"
      format: integer
      name: zipcode
      label: "Research Area"
  info: "prices & owner’s expectations change a lot from an area to another"
  validate: "Go to next step"
  next: step1.2 -->
