<% current_candidate = Candidate.find(session['current_user']) if session['current_user'] %>
<% display_button = false %>

<div class="step text-center">

  <div class="row text-center hidden-xs" id="step-intro">
    <div class="col-xs-12">
      <h2><%= @step['intro'] %></h2>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-2 hidden-xs" id="step-img">
        <%= image_tag @step['picture'] %>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-r-2">

      <div id="step-form">
      <%= form_tag( steps_next_path , method: "post") do %>

        <% @step['questions'].each do |q| %>

          <% q_symbol = q[1]['name'].to_sym %>

            <h3><%= q[1]['text'] %></h3>

            <h6><%= label_tag(q_symbol, q[1]['label']) %></h6>

            <!-- INTEGER field -->

            <% if q[1]['format'] == "text" %>
              <%= text_field_tag(q_symbol, "", class:'form-control round-form text-center', placeholder: q[1]['default'], autofocus: true, required: true)%>

            <!-- TEXT field -->
            <% elsif q[1]['format'] == "integer" %>

              <%= number_field_tag(q_symbol, "", class:'form-control round-form text-center', placeholder: q[1]['default'], autofocus: true, required: true) %>

            <!-- DATE field -->
            <% elsif q[1]['format'] == "date" %>
              <%= date_field_tag(q_symbol, "", class:'form-control round-form') %>

            <!-- EMAIL field -->
            <% elsif q[1]['format'] == "email" %>
              <%= email_field_tag(q_symbol, class:'form-control round-form text-center') %>

            <!-- PASSWORD field -->
            <% elsif q[1]['format'] == "password" %>
              <%= password_field_tag(q_symbol, class:'form-control round-form text-center') %>

            <!-- CHECKBOX field -->
            <% elsif q[1]['format'] == "checkbox" %>
              <%= check_box_tag(q_symbol) %>

            <!-- SELECT field -->
            <% elsif q[1]['format'] == "select" %>
              <% display_button = true %>
              <%= select_tag q_symbol, options_for_select(q[1]['options']), class: 'form-control', autofocus: true %>

<!--             <div class="btn-group-center" role="group" aria-label="..." style='margin:0 100px 0 100px;padding:20px;'>
              <% q[1]['options'].each do |option| %>
                <button type="button" class="btn btn-default" name="<%= q_symbol %>"><%= option %></button>
              <% end %>
            </div> -->

            <!-- TODO -->

            <% end %>

        <% end %>



        <% if @candidate %>
          <%= hidden_field_tag("candidate[id]", @candidate.id) %>
        <% end %>
         <% if @step['persist'] %>
          <%= hidden_field_tag("persist", true) %>
        <% end %>
        <% if @step['loop'] %>
          <%= hidden_field_tag("loop", @step['loop']) %>
          <%= hidden_field_tag("loop_if", @step['loop_if']) %>
        <% end %>
        <%= hidden_field_tag(:next, @step['next']) %>


        <div class="row text-justify" id="step-complement">
          <p>lol</p>
        </div>


        <% if !@step['questions'][1].nil? || display_button %> <%# si + de 1 seule quetion ou si on doit afficher le bouton %>
          <%= submit_tag(@step['validate'], id: "submit-next", class: "btn custom-btn") %>
        <% end %>

      <% end %>
      </div>
    </div>
  </div>

  <% if @step['info'] != "" %>
    <div class="row text-justify" id="step-info">
      <div class="col-sm-2 col-sm-offset-2 col-md-1 col-md-offset-3 hidden-xs">
        <%= image_tag "info.png"%>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5">
        <h5><%= @step['info'] %></h5>
      </div>
    </div>
  <% end %>

</div>







<!--

step1.1:
  intro: "Tell us what you’re looking for and we’ll elaborate your Dossier with you."
  question:
    0:
      text: "Where do you want to live ?"
      format: integer
      name: zipcode
      label: "Research Area"
  info: "prices & owner’s expectations change a lot from an area to another"
  validate: "Go to next step"
  next: step1.2 -->
